<!-- card header start -->
<div class="card-header">
  <h4 class="card-title"> Profile</h4>
  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-widget="collapse">
      <i class="fa fa-minus"></i>
    </button>
    <button type="button" class="btn btn-tool" data-widget="remove">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
<!-- card header end -->






<div>
  <h4 style="text-align:center;"> General Information</h4>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td>1. Full Name :</td>
        <td>John Smith</td>
        <td>2. Employee-ID :</td>
        <td>SGIC/95</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3. Appointment-date :</td>
        <td>01.11.2018 </td>
        <td>4. Nationality :</td>
        <td> Srilankan</td>
      </tr>
      <tr>
        <td>5. Religion :</td>
        <td> Hindu </td>
        <td>6. NIC/Passport-no :</td>
        <td>7584151586V</td>
      </tr>
      <tr>
        <td>7. Gender :</td>
        <td>Male</td>
        <td>8. Date of birth :</td>
        <td>09.05.1975</td>
      </tr>

      <tr>
        <td>9-a. Address-Permanent :</td>
        <td>Jaffna</td>
        <td>9-b. Address-Temperory :</td>
        <td> - </td>
      </tr>

      <tr>
        <td>10-a. Contact-no-mobile :</td>
        <td> 0777 123456</td>
        <td>10-b. Contact-no-Residential :</td>
        <td>021-2222222</td>
      </tr>

      <tr>
        <td>11 .E-mail:</td>
        <td>john@gmail.com</td>
        <td>12 .Marital-status :</td>
        <td>Married</td>
      </tr>
      <tr>
        <td>13 .Basic-Salary:</td>
        <td>40,000.00</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>