<div class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Academic Qualification</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <!-- <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> 
        </mat-form-field> -->

        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- column 1 start -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Education Type </mat-header-cell>
              <mat-cell *matCellDef="let acadamic"> {{acadamic.type}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 1 start -->
            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Period Year <br>(From-To) </mat-header-cell>
              <mat-cell *matCellDef="let acadamic"> {{acadamic.year}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name of School</mat-header-cell>
              <mat-cell *matCellDef="let acadamic"> {{acadamic.name}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="subject">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Subject Examinations passed
                 </mat-header-cell>
              <mat-cell *matCellDef="let acadamic"> {{acadamic.subject}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

             <!-- column 2 start -->
             <ng-container matColumnDef="graduation">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Year of Graduation </mat-header-cell>
              <mat-cell *matCellDef="let acadamic"> {{acadamic.graduation}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

             <!-- column 2 start -->
             <ng-container matColumnDef="grading">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Subject offered <br>and Grading </mat-header-cell>
              <mat-cell *matCellDef="let acadamic"> {{acadamic.grading}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->
      
    </div>
  </div>
</div>
