<app-academic-qualification></app-academic-qualification>
<app-attachment-checklist></app-attachment-checklist>
<app-general-information></app-general-information>
<app-professional-qualification></app-professional-qualification>
<app-record-of-employment></app-record-of-employment>
<app-referees></app-referees>
<app-roles-and-responsibilities></app-roles-and-responsibilities>

<!-- <app-new-appointment-profile-information></app-new-appointment-profile-information> -->


<!-- <div class="tabbable">
    <ul class="nav nav-tabs wizard">
        <li><a routerLinkActive="active" routerLink="appointmentDetails" data-toggle="tab" aria-expanded="false">Appointment Details</a></li>
        <li><a routerLinkActive="active" routerLink="appointmentAdd" (click)="goGeneralInfo()" data-toggle="tab" aria-expanded="false">Appointment Information</a></li>
        <li><a routerLinkActive="active" routerLink="appointmentProvide" data-toggle="tab" aria-expanded="false">Provide Offer Letter</a></li>
        <li><a routerLinkActive="active" routerLink="appointmentAssign" data-toggle="tab" aria-expanded="false">Role & Responsibilities</a></li>
        <li><a routerLinkActive="active" routerLink="appointmentReguestLogIN" data-toggle="tab" aria-expanded="true">Request Login Cerdential</a></li>

    </ul>
</div>

<router-outlet></router-outlet> -->