<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">PAR enter par review outcome</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">

          <div class="col-md-2">
            Name
          </div>
          <div class="col-md-10">
            : Employee
          </div>

          <div class="col-md-2">
            Employee Id
          </div>
          <div class="col-md-10">
            : 1
          </div>

          <div class="col-md-2">
            Date
          </div>
          <div class="col-md-10">
            : Current date
          </div>

          <div class="col-md-2">
            PAR Score
          </div>
          <div class="col-md-10">
            : 1-5
          </div>

          <div class="col-md-2">
            promotion
          </div>
          <div class="col-md-10">
            : Yes/No
          </div>

          <div class="col-md-2">
            Salary increment
          </div>
          <div class="col-md-10">
            : Yes/No
          </div>

          <div class="col-md-2">
            Remark
          </div>
          <div class="col-md-10">
            : Good in progress
          </div>

        </div>

        
        <div class="col-md-10" align="right">

          <button class="btn1" ><i class="fa fa-download"></i> Download</button>
          </div>

        </div>

        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
