.btn1{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 3px 15px;
    cursor: pointer;
    font-size: 15px;

}

/* Darker background on mouse-over */
.btn1:hover {
    background-color: RoyalBlue;
}