<!-- request leave start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Promotion</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">
                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promotion-employee-name">Employee Name</label>
                        <input type="text" class="form-control" name="promotion-employee-name" id="promotion-employee-name"
                          placeholder="Employee Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promotion-employee-id">Employee ID</label>
                        <input type="text" class="form-control" name="promotion-employee-id" id="promotion-employee-id"
                          placeholder="Employee ID">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promotion-employee-position">Position</label>
                        <input type="text" class="form-control" name="promotion-employee-position" id="promotion-employee-position"
                          placeholder="Position">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promotion-employee-date promoted">Date Promoted</label>
                        <input type="text" mwlFlatpickr class="form-control" name="promotion-employee-date promoted" id="promotion-employee-date promoted"
                          placeholder="YYYY/MM/DD">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promotion-employee-remarks">Remarks</label>
                        <input type="text" class="form-control" name="promotion-employee-remarks" id="promotion-employee-remarks"
                          placeholder="Remarks">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promotion-employee-salary">Salary</label>
                        <input type="text" class="form-control" name="promotion-employee-salary" id="promotion-employee-salary"
                          placeholder="Rs/=">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Insert</button>
                    &nbsp;
                </div>
              </form>
              <!-- card body end -->
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div> 

<!--Add button Model-->
<div id="add-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">Conformation</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- form start -->
          <form role="form">
            <!-- card body start -->
            <div class="card-body">
              Are you want to insert?
            </div>
            <!-- card body end -->
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
         <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">No</button> 
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>
<!-- add modal end -->