<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Offer Letter Process</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="given-date">Offer letter given Date :</label>
                        <input type="date" class="form-control" name="given-date" id="given-date" placeholder="yyyy-mm-dd">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="name">Address :</label>
                        <textarea class="form-control" name="Address" placeholder="Enter Address"></textarea>
                        <!-- <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name"> -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="position">Position :</label>
                        <input type="text" class="form-control" name="position" id="position" placeholder="Enter Position">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="effect-date">Effecting Date :</label>
                        <input type="date" class="form-control" name="effect-date" id="effect-date" placeholder="yyyy-mm-dd">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="perquisites">Perquisites</label>
                        <input type="text" class="form-control" id="perquisites" name="perquisites" placeholder="Enter Perquisites">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <!-- <label for="position"> 	Age of Retirement </label> -->
                        <label for="digit-salry">Age of Retirement In Digit</label>
                        <input type="text" class="form-control" id="retirement-age-digit" name="retirement-age-digit"
                          placeholder="Enter Age of Retirement">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="digit-salry">Age of Retirement In Text</label>
                        <input type="text" class="form-control" id="retirement-age-text" name="retirement-age-text"
                          placeholder="Enter Age of Retirement">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="position"> Minimum retirement age:</label>
                        <input type="text" class="form-control" name="min-retirement-age" id="position" placeholder="Enter Minimum retirement age">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="position">2<sup>nd </sup>Year Anual Leave Days :</label>
                        <input type="text" class="form-control" name="position" id="position" placeholder="Enter 2nd Year Anual Leave Days">
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="position">Company Name :</label>
                        <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="position">Designation of signatory :</label>
                        <input type="text" class="form-control" name="position" id="position" placeholder="Enter Designation of signatory">
                      </div>
                    </div>




                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="position">Report To :</label>
                        <!-- <select><input type="text" class="form-control" name="position" id="position" placeholder="Enter Position"> -->
                        <select class="form-control">
                          <option>Admin</option>
                          <option>Manager</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="medical-leave">Medical Leave :</label>
                        <input type="text" class="form-control" name="medical-leave" id="medical-leave" placeholder="Enter Medical Leave">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label for="perquisites">Salary</label><br>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-9">
                      <div class="form-group">
                        <!-- <label for="perquisites">Salary</label><br> -->
                        <label for="perquisites">In Letters</label>
                        <input type="text" class="form-control" id="perquisites" name="perquisites" placeholder="Enter Salary in Letters">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="digit-salry">In Digit</label>
                        <input type="text" class="form-control" id="digit-salry" name="digit-salry" placeholder="Enter Salary in Digit">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label for="position">Hours of Work :</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-lg-6">

                            <label for="position">From:</label>
                            <input type="time" class="form-control" name="position" id="position">
                          </div>
                          <div class="col-lg-6">
                            <label for="position">To:</label>
                            <input type="time" class="form-control" name="position" id="position">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"
                    [routerLink]="['/agrementletter']">Generate</button>

                  &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Reset</button>
                </div>
              </form>
              <!-- form end -->


            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>