/* .inline { 
    display: inline-block; 
   
    } */
    /* form{
        margin-top: 5%;;
        padding-left: 5%;
    } */
    /* input{
        
        max-width: 300px;
    }
    textarea{
        max-width: 300px;

    } */

    fieldset{
        border-width: 1px;
        border-color: #ffffff;
         
    }
    