<!-- request leave start -->
<div class="row">
  <div class="col-md-8">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Request Leave</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="start-date">Start Date</label>
                        <input type="email" class="form-control" id="start-date" placeholder="yyyy-mm-dd">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="end-date">End Date</label>
                        <input type="text" class="form-control" name="start-date" id="end-date" placeholder="yyyy-mm-dd">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="leave-type">Leave Type</label>
                        <select class="form-control">
                          <option>Casual</option>
                          <option>Annual</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="leave-days">Leave Day(s)</label>
                        <input type="number" class="form-control" id="leave-days" placeholder="0" readonly>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Remain Day(s)</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="0" readonly>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Reason</label>
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Add</button>
                  &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Delete</button>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>

<app-add></app-add>
<app-delete></app-delete>

<!-- request leave end -->