<div id="view-modal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- modal content start -->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="card-title">View Promotion History</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
              <!-- column 0 start -->
              <ng-container matColumnDef="fname">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Full Name </mat-header-cell>
                <mat-cell *matCellDef="let viewEmp">{{viewEmp.fname}}</mat-cell>
              </ng-container>
              <!-- column 0 end -->

              <!-- column 1 start -->
              <ng-container matColumnDef="appoinmentDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Appoinment Date </mat-header-cell>
                <mat-cell *matCellDef="let viewEmp">{{viewEmp.appoinmentDate}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

          </div>

          <!-- 
          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <td>1. Full Name :</td>
                  <td>John Smith</td>
                  <td>2. Employee-ID :</td>
                  <td>SGIC/95</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>3. Appointment-date :</td>
                  <td>01.11.2018 </td>
                  <td>4. Nationality :</td>
                  <td> Srilankan</td>
                </tr>
                <tr>
                  <td>5. Religion :</td>
                  <td> Hindu </td>
                  <td>6. NIC/Passport-no :</td>
                  <td>7584151586V</td>
                </tr>
                <tr>
                  <td>7. Gender :</td>
                  <td>Male</td>
                  <td>8. Date of birth :</td>
                  <td>09.05.1975</td>
                </tr>

                <tr>
                  <td>9-a. Address-Permanent :</td>
                  <td>Jaffna</td>
                  <td>9-b. Address-Temperory :</td>
                  <td> - </td>
                </tr>

                <tr>
                  <td>10-a. Contact-no-mobile :</td>
                  <td> 0777 123456</td>
                  <td>10-b. Contact-no-Residential :</td>
                  <td>021-2222222</td>
                </tr>

                <tr>
                  <td>11 .E-mail:</td>
                  <td>john@gmail.com</td>
                  <td>12 .Marital-status :</td>
                  <td>Married</td>
                </tr>
                <tr>
                  <td>13 .Basic-Salary:</td>
                  <td>40,000.00</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div> -->

        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- modal content end -->

  </div>
</div>


<!-- view modal start -->

<!-- view modal end -->