<!-- delete modal start -->
<div id="delete-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- modal content start -->
      <div class="modal-content">

        <!-- modal header start -->
        <div class="modal-header">
          <h6 class="modal-title">Delete Header</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- modal header end -->

        <!-- modal body start -->
        <div class="modal-body">
          <div class="col-md-12">
            Do you want to delete?
          </div>
        </div>
        <!-- modal body end -->

        <!-- modal footer start -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
        <!-- modal footer end -->
      </div>
      <!-- modal content end -->
  
    </div>
  </div>
  <!-- delete modal end -->