<div class="row">
    <div class="col-md-12">
      <div class="card">
  
        <!-- card header start -->
        <div class="card-header">
          <h5 class="card-title">Create salary chart</h5>
  
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- card-header end -->
  
        <!-- card body start -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
  
                <!-- form start -->
                <form role="form">
  
                  <!-- card body start -->
                  <div class="card-body">
                   
  
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="name">Name :</label>
                          <!-- <textarea class="form-control" name="Address" placeholder="Enter Address"></textarea> -->
                          <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="position">Employee No :</label>
                          <input type="text" class="form-control" name="position" id="position" placeholder="Enter Position">
                        </div>
                      </div>
                    </div>
  
                  
  
     
  
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="position">Basic Salary :</label>
                          <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="position">EPF 8% :</label>
                          <input type="text" class="form-control" name="position" id="position" placeholder="Enter Designation of signatory">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="position">PAYE :</label>
                            <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="position">Stamp duty :</label>
                            <input type="text" class="form-control" name="position" id="position" placeholder="Enter Designation of signatory">
                          </div>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="position">Advance :</label>
                              <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="position">Loan :</label>
                              <input type="text" class="form-control" name="position" id="position" placeholder="Enter Designation of signatory">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="position">Net Salary :</label>
                                <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="position">EPF 12% :</label>
                                <input type="text" class="form-control" name="position" id="position" placeholder="Enter Designation of signatory">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="position">Statutory Payment :</label>
                                  <input type="text" class="form-control" name="position" id="position" placeholder="Enter Company Name">
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="position">ETF 3% :</label>
                                  <input type="text" class="form-control" name="position" id="position" placeholder="Enter Designation of signatory">
                                </div>
                              </div>
                            </div>
  
             

  
                  </div>
                  <!-- card body end -->
  
                  <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"
                      [routerLink]="['/agrementletter']">Add</button>
  
                    &nbsp;
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Reset</button>
                  </div>
                </form>
                <!-- form end -->
  
  
              </div>
            </div>
          </div>
  
        </div>
        <!-- card body end -->
  
      </div>
    </div>
  </div>