<!-- request leave start -->
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Schedule New PAR</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">

                      <div class="form-group">
                        <label for="department">Department</label>
                        <input list="departmentList" class="form-control" name="department" id="department" placeholder="Select Department">
                        <datalist id="departmentList">
                          <option value="HR">
                          <option value="Accounts">
                          <option value="HR"></option>
                          <option value="Accounts"></option>
                        </datalist>
                      </div>

                      <div class="form-group">
                        <label for="possition">Possition</label>
                        <input list="possitionList" class="form-control" name="possition" id="possition" placeholder="Select Possition">
                        <datalist id="possitionList">
                          <option value="Admin">
                          <option value="Lead">
                          <option value="Architect">
                          <option value="Admin"></option>
                          <option value="Lead"></option>
                          <option value="Architect"></option>
                        </datalist>
                      </div>

                      <div class="form-group">
                        <label for="employeeName">Employee Name</label>
                        <input list="employeeList" class="form-control" name="employeeName" id="employeeName"
                          placeholder="Select Employee">
                        <datalist id="employeeList">
                          <option value="Raamu"></option>
                          <option value="Soomu"></option>
                          <option value="Keemu"></option>
                          <option value="Seemu"></option>
                          <option value="Heemu"></option>
                        </datalist>
                      </div>



                      <div class="form-group">
                        <label for="employeeId">Employee Id</label>
                        <input type="number" class="form-control" name="employeeId" id="employeeId" placeholder="Employee Id"
                          readonly>
                      </div>


                      <div class="form-group">
                        <label for="dueDate">Due Date</label>
                        <input type="date" class="form-control" id="dueDate" placeholder="yyyy-mm-dd">
                      </div>
                    </div>


                    <div class="col-md-3" id='TextBoxesGroup'>
                      <div class="form-group" id='TextBoxDiv1'>
                        <label for="appraisers">Appraisers No 1</label>
                        <input type="text" class="form-control" id='textbox1' placeholder="Appraisers">
                      </div>
                    </div>

                    <div style="padding-top:35px">
                      <!-- <button type="button" class="btn btn-primary" id='addButton'>+</button>
                      &nbsp; -->
                      <span class="fa fa-plus-circle big-icon" aria-hidden="true" id='addButton'></span>
                      &nbsp;
                      <span class="fa fa-minus-circle big-icon1" aria-hidden="true" id='removeButton'></span>
                      <!-- <button type="button" class="btn btn-primary" id='removeButton'>-</button> -->
                    </div>

                    <div class="col-md-5">
                      <app-config-par></app-config-par>
                    </div>


                  </div>
                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary">Send</button>
                  &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Cancel</button>
                </div>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>
<!--   
  <app-add></app-add>
  <app-delete></app-delete>
   -->
<!-- request leave end -->
