<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Referees</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tr>
                <th>Name</th>
                <td>:</td>
                <td>Mathu</td>
              </tr>

              <tr>
                <th>Address</th>
                <td>:</td>
                <td>Jaffna</td>
              </tr>

              <tr>
                <th>Email</th>
                <td>:</td>
                <td>mathu@gmail.com</td>
              </tr>

              <tr>
                <th>Telephone Number</th>
                <td>:</td>
                <td>0777654321</td>
              </tr>

              <tr>
                <th>Relationship to the employee</th>
                <td>:</td>
                <td>student</td>
              </tr>
            </table>
          </div>

          <div class="col-md-6">
            <table class="table">
              <tr>
                <th>Name</th>
                <td>:</td>
                <td>Mathu</td>
              </tr>

              <tr>
                <th>Address</th>
                <td>:</td>
                <td>Jaffna</td>
              </tr>

              <tr>
                <th>Email</th>
                <td>:</td>
                <td>mathu@gmail.com</td>
              </tr>

              <tr>
                <th>Telephone Number</th>
                <td>:</td>
                <td>0777654321</td>
              </tr>

              <tr>
                <th>Relationship to the employee</th>
                <td>:</td>
                <td>student</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>