<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Roles & Responsibility </h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <!-- <div class="col-md-3">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div> -->
          <div class="col-md-3">
            <div class="form-group">
              <label for="department">Department</label>
              <select class="form-control">
                <option>Dep1</option>
                <option>Dep2</option>
                <option>Dep3</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="empname">Employee Name</label>
              <input type="text" class="form-control" id="empname" placeholder="EmployeeName" readonly>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="empid">Employee ID</label>
              <input type="text" class="form-control" id="empid" placeholder="Employee Id" readonly>
            </div>
          </div>
        </div>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- column 1 start -->
            <ng-container matColumnDef="jobtitle">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.jobtitle}} </mat-cell>
            </ng-container>
            <!-- column 1 end -->

            <!-- column 2 start -->
            <ng-container matColumnDef="reportingto">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Reporting to </mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.reportingto}}</mat-cell>
            </ng-container>
            <!-- column 2 end -->

            <!-- column 3 start -->
            <ng-container matColumnDef="responsibilityfor">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Responsibility for</mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.responsibilityfor}} </mat-cell>
            </ng-container>
            <!-- column 3 end -->

            <!-- column 4 start -->
            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Location</mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.location}} </mat-cell>
            </ng-container>
            <!-- column 4 end -->

            <!-- column 5 start -->
            <ng-container matColumnDef="keyactivities">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Key activities</mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.keyactivities}} </mat-cell>
            </ng-container>
            <!-- column 5 end -->

            <!-- column 6 start -->
            <ng-container matColumnDef="currentproject">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Current project</mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.currentproject}} </mat-cell>
            </ng-container>
            <!-- column 6 end -->

            <!-- column 7 start -->
            <ng-container matColumnDef="Previouslyworkedprojects">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Previously worked projects</mat-header-cell>
              <mat-cell *matCellDef="let role"> {{role.Previouslyworkedprojects}} </mat-cell>
            </ng-container>
            <!-- column 7 end -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <!-- pagination start -->
          <mat-paginator [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>
          <!-- pagination end -->
        </div>
      </div>
      <!-- card body end -->

    </div>
  </div>
</div>